/*Colors*/
$primary-color: #0000;
$secondary-color: #eeee;

/* colors brand */
$color-vde: #98c998;
$color-cel: #98cbcb;
$color-vio: #9b96c7;

$color-ama: #fee510;
$color-azl: #111083;
$color-roj: #ef2743;


/* text color */
$color-text1: white;


/* spaces */
$space-s: 5px;
$space-m:10px;
$space-l:15px;
$pace-lx:20px;

/* font size */
$font-s: 9px;
$font-m: 12px;
$font-l:15px;
$font-lx:20px;

