/* cards */
/* Estilo para las tarjetas */
.producto {
  width: 100%; /* Ancho total de la tarjeta */
  max-width: 300px; /* Ancho máximo de la tarjeta */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

/* Estilo para la imagen del producto */
.producto-imagen {
  width: 100%; /* Ancho total de la imagen */
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilo para el detalle del producto */
.producto-detalle {
  padding: 10px;
}

/* Estilo para el título del producto */
.producto-titulo {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Estilo para el precio del producto */
.producto-precio {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

/* Estilo para el botón "Agregar al carrito" */
.producto-agregar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


/*.producto-imagen{
    height: 200px;
    width: 200px;
}

.card-bodyy{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 300px;
    box-sizing: content-box;
    font-size: smaller;    
}

.producto-agregar {
    box-sizing: unset;
    background-color: rgb(222, 224, 224);
    border-radius: 2px;
    font-size: medium;
    font-weight: bold;
}
/* <div class="producto-detalle">
  <h5 class="producto-titulo">${producto.titulo}</h5>
  <p class="producto-precio">${producto.precio}</p>
  <button class="producto-agregar" id="${producto.id}">Agregar</button>
</div>
 */




.gridVenta{
    display: grid;
    grid-template-columns: 60% 40%;

}

.imgBuy{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carruselButton{
    
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    height: 15%;
    margin-top: 40%;
    
}

.gridButton{
    display: flex;
    gap: 15px;
    
}

.talleButton{
    background-color: rgb(243, 243, 243) ;
    border-radius: 30px;
    border: none;
}
.talleButtonDisable{
    border-radius: 30px;
    border-style: dashed;
}

.textoBuy{
    font-size: $font-m;
    color: black;
}


.textoBuyTitulos{
    font-size: $font-l;
    color: black;
}

.colorButton button:nth-child(1){
background-color: black;
border: none;
}
.colorButton button:nth-child(2){
    background-color: rgb(212, 36, 36);
    border: none;    
}

    .colorButton button:nth-child(3){
        background-color: rgb(243, 247, 34);
        border: none;   
    }


.gridEspecifit{
display: flex;
flex-direction: column;
gap: 15px;

}
